.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 12vh;
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.75rem;
}

#login-btn {
  height: 8vh;
  width: 30vw;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5vmin;
  font-size: 1.25rem;
}
